.booking {
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0), transparent), url("/static/bg.jpg") no-repeat center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .booking {
        flex-direction: column;
    }
}