.header {
    justify-content: space-between;
    padding: 10px 10px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 5px solid #18afaf;
    background: #eee;
    position: fixed;
    width: 100%;;
}

.menu-items {
    flex-basis: 60%;
    justify-content: space-evenly;
    display: flex;
}

.menu-item {
    padding: 10px 20px;
}

.menu-item:hover {
    box-shadow: inset 0px 0px 5px 0px #888888;
    border-radius: 5px;
}

.call-us {
    flex-basis: 40%;
    padding: 10px 20px;
    text-align: end;
}

.call-us span {
    border: 2px solid #999;
    border-radius: 15px;
    padding: 6px 15px;
    font-size: 14px;
}

.call-us span::before {
    content: "\2706";
    margin-right: 5px;
}

.search {
    padding: 0px 20px;
}

.search span {
    border: 2px solid #999;
    border-radius: 15px;
    padding: 0px 25px 0px 15px;
    position: fixed;
    right: -20px;
    top: 20px;
}

.hamburger-menu-bar {
    display: none;
}
.hamburger-menu-bar div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hamburger-menu {
    position: absolute;
    height: 100vh;
    background: #eee;
    margin-left: -12px;
    width: 200px;
    margin-top: -15px;
    top: 70px;
    z-index: 1;
}

.vertical-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
    .menu-items {
        display: none;
    }
    .hamburger-menu-bar {
        display: block;
    }
}